<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 项目查询</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header">
		<div id="components" class="clearfix">
			<div id="left" class="left">
				<a href="add"><span class="icons icon_add"></span><span class="icons_text">新建</span></a>
			</div>
		</div>
		<div class="message"></div>
	</div>
	
	<div id="wrapper" class="clearfix">
		<div class="content">
			<div class="table_head">
				<table class="table">
					<thead>
						<tr>
							<th width="40"><input type="checkbox" id="checkedIds"></th>
							<th width="17%">项目名称</th>
							<th width="11%">预算金额</th>
							<th width="10%">余额</th>
							<th width="10%">预算经理</th>
							<th width="10%">开始时间</th>
							<th width="10%">结束时间</th>
							<th width="10%">状态</th>
							<th width="10%">审批结果</th>
							<th width="">操作</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table_body auto_height">
				<table class="table">
					<tbody>
						<#if page.result?size gt 0>
							<#list page.result as e>
						<tr>
							<td width="26"><input type="checkbox" name="checkedIds" value="${e.projectId}"></td>
							<td width="20%">${e.projectName}</td>
							<td width="10%">${views.rmb(e.money)}</td>
							<td width="10%">${views.rmb(e.money - e.lastMoney?default(0))}</td>
							<td width="10%">${e.operator}</td>
							<td width="10%">${e.startDate?date}</td>
							<td width="10%">${e.endDate?date}</td>
							<td width="10%"><#if e.status == 1>启用<#else>禁用</#if></td>
							<td width="10%"><#if e.approved== 99>已批准</#if><#if e.approved== -1>不批准</#if><#if e.approved== 0 || e.approved== 1>待审批</#if></td>
							<td>
								<a href="add?projectId=${e.projectId}" title="编辑"><span class="icons icon_edit"></span></a>
								<#assign able = 1 />
								<#assign title = "启用" />
								<#assign check = "icon_unlock" />
								<#if e.status == 1>
									<#assign able = 0 />
									<#assign title = "禁用" />
									<#assign check = "icon_lock" />
								</#if>
								<a href="javascript:open_able('${e.projectId}', '${able}');" title="${title}"><span class="icons ${check}"></span></a>
							</td>
						</tr>
							</#list>
						</#if>
					</tbody>
				</table>
			</div>
			<#if page.result?size lt 1>
			<div class="empty">没有数据</div>
			</#if>
			<@fm.page page=page />
		</div>
	</div>
	
	<div id="able_project" class="pop" style="display: none; width: 280px;">
		<div class="pop_close">X</div>
		<div class="pop_limit">
			<div class="pop_title">启用项目</div>
			<div class="pop_content blank">确定要启用所选项目吗？</div>
			<div class="pop_btn">
				<input type="hidden" id="status" value="1" />
				<button type="button" class="btn primary xs" onclick="able()">确定</button>
				<button type="button" class="btn default xs" onclick="close_pop()">取消</button>
			</div>
		</div>				
	</div>
	
	<script type="text/javascript">
		function open_able(id, status) {
			if (id) {
				get_checked(id);
			}
			var before = status == 1 ? "禁用" : "启用";
			var after = status == 1 ? "启用" : "禁用";
			$(".pop_title").text($(".pop_title").text().replace(before, after));
			$(".pop_content").text($(".pop_content").text().replace(before, after));
			$("#status").val(status);
			open_pop(null,null,"#able_project",true);
		}
		function able() {
			var status = $("#status").val();
			ajax_checked("请选择需要" + (status == 1 ? "启用" : "禁用") + "的项目", "able?&status=" + status + "&token=${token}");
			close_pop();
		}
	</script>
</body>
</html>
