<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 编辑客户档案</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit auto_height">
			<div id="form" class="clearfix" style="width: 430px;">
				<form action="add" method="post">
					<input type="hidden" name="token" value="${token}">
					<input type="hidden" name="clientId" value="${client.id}">
					<input type="hidden" name="status" value="${client.status}">
					<input type="hidden" name="password" value="${client.password}">
					<table class="table">
						<tr>
							<td>用户名：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" name="name" value="${client.name}" >
							</td>
						</tr>
						<tr>
							<td>真实名称：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" name="truename" value="${client.truename}" >
							</td>
						</tr>
						<tr>
							<td>性别：</td>
							<td class="required">*</td>
							<td>
								<input type="hidden" name="gender" value="${client.sex?default(0)}" />
								<div id="gender" class="select xl">
									<span class="option text">请选择</span><span class="icon"></span>
									<ul>
										<li item="0">女</li>
										<li item="1">男</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>出生年月日：</td>
							<td class="required">*</td>
							<td>
								<#if client.birthday??>
								<#assign birthday_yyyyMMdd = client.birthday?date />
								</#if>
								<input id="birthday" type="text" class="input xl Wdate" name="birthday_yyyyMMdd" value="${birthday_yyyyMMdd?default('')}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
							</td>
						</tr>
						<tr>
							<td>联系电话：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" name="telephone" value="${client.telephone}">
							</td>
						</tr>
						<tr>
							<td>微信号：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" name="weixin" value="${client.weixin}">
							</td>
						</tr>
						<tr>
							<td>联系地址：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" name="address" value="${client.address}">
							</td>
						</tr>
						<tr>
							<td>所属公司：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" value="${client.corpNames}" readonly="readonly">
							</td>
						</tr>
						<tr>
							<td>拥有的学员：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" value="${client.studentNames}" readonly="readonly">
							</td>
						</tr>
						<#if corpId??>
						<tr>
							<td colspan="2"></td>
							<td><button type="submit" class="btn primary xs">提交</button></td>
						</tr>
						</#if>
				</form>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#gender").select({ "name": "gender" });
			<#if corpId??>
			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",
				beforeSubmit: function(formData, jqForm, options) {
					danger(0);
					disabled_on();
					var form = jqForm[0];
					try {
						validate(form.gender, [RQ], "性别");
						validate(form.birthday_yyyyMMdd, [RQ], "出生年月");
						validate(form.telephone, [RQ, RANGE, "{1,20}"], "联系电话");
						
					} catch(err) {
						danger(1, err);
						disabled_off();
						return false;
					}
				},
				success: function(data) {
					if (data.code == 1) {
 						success_callback(data, "/client/client/page");
					} else {
						danger_callback(data);
					}
				}
			});
			<#else>
			$("input").prop("readonly","readonly");
			</#if>
		
		});
	</script>
</body>
</html>
