<!DOCTYPE html>
<html>
<head>
<title>打卡</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
	打卡中，请稍等。
</body>
<script type="text/javascript"src="${ctx}/jw_js_css_img/js/jquery-1.9.1.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	function config() {
		wx.config({
			debug : false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId : '${appId}',
			timestamp : '${timestamp}',
			nonceStr : '${nonceStr}',
			signature : '${signature}',
			// 所有要调用的 API 都要加到这个列表中
			jsApiList : ["closeWindow", "getNetworkType"]
		});
		wx.ready(function() {
			<#if error??>
			alert("${error}");
			wx.closeWindow();
			<#else>
			
			wx.getNetworkType({
			    success: function (res) {
			        var networkType = res.networkType; // 返回网络类型2g，3g，4g，wifi
			        if(networkType != "wifi"){
			        	alert("当前的网络状态不是wifi，请连接指定的wifi");
			        	wx.closeWindow();
			        }
			    }
			});
						
			var options={
				url:"http://${IP}/wx/student/check",
				type:"POST",
				//data:"username=卢雨",//提交数据的第一个格式..  字符串
				//请求数据的第二种格式... 一般我们使用第二种
				data:{ org_id:"${org_id}", open_id:"${openid}", secret:"${secret}" },
				success:function(dataX){
					var dataX = eval('(' + dataX + ')'); 
					if(dataX.code == 0){
						alert("打卡失败，请点击确认重新打卡");
		 				window.location.href = dataX.location+"?org_id=${org_id}"; 
					}else if(dataX.code == 1){
						alert("打卡成功");
 		 				wx.closeWindow();
					}else if(dataX.code == 2){
						alert("打卡失败");
						wx.closeWindow();
					}
				},
				dateType:"JSON",//服务端预期的数据返回类型...
				timeout:"10000",//请求超时的时间
				error:function(){//请求失败时的一个回调函数..
					alert("打卡失败，请检查是否连上指定的WIFI");
					wx.closeWindow();
				}
			};
			$.ajax(options);
			</#if>
		});
		wx.error(function(res){
		    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
		});
	}
	config();

</script>
</html>