<link href="${ctx}/css/base.css?${version}" rel="stylesheet">
<link href="${ctx}/css/icons.css?${version}" rel="stylesheet">
<link href="${ctx}/css/content.css?${version}" rel="stylesheet">
<link href="${ctx}/css/ztree/zTreeStyle.css" rel="stylesheet">
<link href="${ctx}/css/select.css?${version}" rel="stylesheet">
<link href="${ctx}/css/ymPrompt.css" rel="stylesheet">
<link href="${ctx}/css/shift.css" rel="stylesheet">
<link rel="icon" href="${ctx}/img/logo.ico" type="image/x-icon" />
<link rel="shortcut icon" href="${ctx}/img/logo.ico" type="image/x-icon" />
<link rel="Bookmark" href="${ctx}/img/logo.ico">
<link href="${ctx}/css/autocomplete.min.css" rel="stylesheet">
<link href="${ctx}/css/jquery-ui.min.css" rel="stylesheet">
<link href="${ctx}/jw_js_css_img/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
                        
