<script type="text/javascript" src="${ctx}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${ctx}/js/autocomplete.min.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery.form-3.17.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery.ztree.excheck-3.5.min.js"></script>
<script type="text/javascript" src="${ctx}/js/my97/WdatePicker.js"></script>
<script type="text/javascript" src="${ctx}/js/select.js?${version}"></script>
<script type="text/javascript" src="${ctx}/js/drag.js?${version}"></script>
<script type="text/javascript" src="${ctx}/js/common.js?${version}"></script>
<script type="text/javascript" src="${ctx}/js/validator.js?${version}"></script>
<script type="text/javascript" src="${ctx}/js/ymPrompt.js"></script>
<script type="text/javascript" src="${ctx}/jw_js_css_img/layer.m/layer.m.js"></script>