<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 查阅周报</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
	<link rel="stylesheet" type="text/css" href="${ctx}/jw_js_css_img/jqm/jQueryMobile/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" type="text/css" href="${ctx}/jw_js_css_img/css/applyReport_day_wxpage.css" />
	<link rel="stylesheet" type="text/css" href="${ctx}/jw_js_css_img/css/mobiscroll.custom-2.5.0.min.css" />
	<script type="text/javascript" src="${ctx}/jw_js_css_img/jqm/jQueryMobile/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src="${ctx}/jw_js_css_img/js/mobiscroll.custom-2.5.2.min.js"></script>
</head>
  
  <body>
  	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit" style="border: none">
			<div id="form" class="clearfix" style="width: 100%;">
			<form action="add" method="post">
		  	<input type="hidden" name="reportId" value=${report.reportId}>
		  	<input type="hidden" name="token" value="${token}">
		  	<input type="hidden" name="type" value=${type}>
		  	
		  	<div class="listinfo">
		  		<ul>
		  			<li>
		  				上级查阅:
		  				<input name="approveActor" type="hidden" type="text" class="input xl" value="${managerId}" readonly="readonly">
  						<input type="text" class="input xss" value="${manager}" readonly="readonly" id="approveActor" data-role="none">
		  			</li>
		  			<li>
		  				开始日期:
		  				${report.startDate}
		  			</li>
		  			<li>
		  				结束日期
		  				${report.endDate}
		  			</li>
		  		</ul>
		  	</div>
		  	
		  	<div class="ui-corner-all custom-corners plan">
		  		<div class="ui-bar ui-bar-a">
		  			<h3>本周进度</h3>
		  		</div>
		  		<div class="ui-body ui-body-a">
		  			<p class="planP">${report.content1}</p>
		  		</div>
		  	</div>
		  	
		  	<div class="ui-corner-all custom-corners plan">
		  		<div class="ui-bar ui-bar-a">
		  			<h3>下周计划</h3>
		  		</div>
		  		<div class="ui-body ui-body-a">
		  			<p class="planP">${report.content2}</p>
		  		</div>
		  	</div>
		  	
		  	<div class="ui-corner-all custom-corners plan">
		  		<div class="ui-bar ui-bar-a">
		  			<h3>本周心得</h3>
		  		</div>
		  		<div class="ui-body ui-body-a">
		  			<p class="planP">${report.content2}</p>
		  		</div>
		  	</div>
		  	<button type="submit" class="ui-btn ui-corner-all">提交</button>
  	</form>
  	</div>
  	</div>
  	</div>
  	<script type="text/javascript">
  		$(document).ready(function(){
  			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",				
				success: function(data) {
					if (data.code == 1) {
 						success_callback(data, "wxpage");
					} else {
						danger_callback(data);
					}
				}
			});
			
			var opt = {
		        preset: 'date', //日期
		        display: 'modal', //显示方式 
		        dateFormat: 'yy-mm-dd', // 日期格式
		        setText: '确定', //确认按钮名称
		        cancelText: '取消',//取消按钮名籍我
		        dateOrder: 'yymmdd', //面板中日期排列格式
		        dayText: '日', monthText: '月', yearText: '年', //面板中年月日文字
		        endYear:2020 //结束年份
		    };
    
    		$('input:jqmData(role="datebox")').mobiscroll(opt);
  		});
  	</script>
  </body>
</html>
