<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 写周报查询</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header">
		<div id="components" class="clearfix">
			<div id="left" class="left">
				
			</div>
			<div id="right" class="right">
				<form id="search" action="page" method="get">
					<input type="hidden" name="pageSize" value="">
					<input type="hidden" name="pageNo" value="">
					<ul>
						<li class="text">申请时间</li>
						<li>
							<input type="text" class="input sm Wdate" name="startTime" value="" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
							<span>至</span>
							<input type="text" class="input sm Wdate" name="endTime" value="" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
						</li>
						<li class="text">审批状态</li>
						<li>
							<input type="hidden" name="approve" value="" />
							<div id="approve" class="select sm">
								<span class="option text">请选择</span><span class="icon"></span>
								<ul>
									<li item="">请选择</li>
									<li item="0">未审阅</li>
									<li item="1">已阅</li>

								</ul>
							</div>
						</li>
						<li><button type="button" class="btn primary xxs" onclick="search()">搜索</button></li>
					</ul>
				</form>
			</div>
		</div>
		<div class="message"></div>
	</div>
	
	<div id="wrapper" class="clearfix">
		<div class="content">
			<div class="table_head">			
				<table class="table">
					<thead>
						<tr>
							<th width="40"><input type="checkbox" id="checkedIds"></th>
							<th width="">标题</th>
							<th width="10%">状态</th>
							<th width="15%">提交时间</th>
							<th width="15%">修改时间</th>
							
							<th width="20%">操作</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table_body auto_height">
				<table class="table">
					<tbody>
						<#if page.result?size gt 0>
							<#list page.result as e>
						<tr>
							<td width="26"><input type="checkbox" name="checkedIds" value="${e.reportId}"></td>
							<td width=""><a href="add?reportId=${e.reportId}" title="查看">${e.trueName}&nbsp;写了&nbsp;${e.startDate}&nbsp;到&nbsp;${e.endDate}&nbsp;的${e.title}</a></td>
							<td width="10%">
								<#if e.approve == 1>已阅<#else>
									<#if e.approve == 0>
									未审阅
									<#else>
									<span style="color:red">退回</span>
									</#if>
								</#if>
							</td>
							<td width="15%"><#if e.createTime??>${e.createTime?datetime}</#if></td>
							<td width="15%"><#if e.modifyTime??>${e.modifyTime?datetime}</#if></td>
							
							<td width="20%">
								<a href="add?reportId=${e.reportId}" title="查看"><span class="icons icon_view"></span></a>							
							</td>
						</tr>
							</#list>
						</#if>
					</tbody>
				</table>
			</div>
			<#if page.result?size lt 1>
			<div class="empty">没有数据</div>
			</#if>
			<@fm.page page=page />
		</div>
	</div>
	
	
	<div id="actors_pop" class="pop bind" style="display: none; width: 278px;">
		<div class="pop_content" style="padding: 0;">
			<div class="auto_height xl">
		   		<table class="table">
		   		</table>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
				
			$("#approve").select({ "name": "approve" });
			$("a.actors").click(function() {
				close_pop();
				var id = $(this).attr("item");
				var _id = "#actors_"+$(this).attr("id");
				actors(id);
				open_pop(null,_id,"#actors_pop",false);
				return false;
 			});
		});
		function open_del(id) {
			if (id) {
				get_checked(id);
			}
			open_pop(null,null,"#del_apply",true);
		}
		function del() {
			ajax_checked("请选择需要删除的请假申请", "del?token=${token}");
			close_pop();
		}
		function actors(id) {
			$.ajax({
				url: "/adm/salary/leave/approve/actors?leaveId=" + id + "&token=${token}",
				type: "post",
				dataType: "json",
				success: function(data) {
					if (data.code == 1) {
						$("#actors_pop .table").empty();
						var text = "";
						text += "<tr>";
						text += "<th>操作人</th><th>操作内容</th><th>审批意见</th><th>操作时间</th>";
						text += "</tr>";
						$.each(data.actors, function(idx, obj) {
							var approve = "";
							var modifyTime = obj.modifyTime.substring(0, 16);
							if (obj.approve == 1) {
								approve = "已批准";
							} else if (obj.approve == -1) {
								approve = "未批准";
							} else {
								approve = "待批准";
								modifyTime = "-";
							}
							
							text += "<tr>";
							text += "<td>" + obj.actorName + "</td>";
							text += "<td>" + approve + "</td>";
							text += "<td>" + obj.opinion + "</td>";
							text += "<td>" + modifyTime + "</td>";
							text += "</tr>";
						});
						$("#actors_pop .table").append(text);
					} else {
						danger(1, data.message);
					}
				}
			});
		}
	</script>
</body>
</html>
