<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<script type="text/javascript" src="${ctx}/jw_js_css_img/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="${ctx}/jw_js_css_img/jqm/jQueryMobile/jquery.mobile-1.4.5.min.js"></script>
	<link type="text/css" rel="stylesheet" href="${ctx}/jw_js_css_img/jqm/jQueryMobile/jquery.mobile-1.4.5.min.css" />
	<title>报告</title>
  </head>
  <body>
  	<form class="ui-filterable">
  		<input id="searchinput" data-type="search" placeholder="请输入标题/日期/姓名/内容" />
  	</form>
  	<div data-role="collapsibleset" data-filter="true" data-children="> div, > div div ul li" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchinput">
	  	<div data-role="collapsible" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	  		<h3>卢嘉威</h3>
	  		<ul data-role="listview" data-inset="true" data-split-icon="action">
	  			<li>
	  				<a href="#positionWindow" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="window">
	  					<h2>标题:这不是标题</h2>
	  					<p>时间:2014-11-25</p>
	  					<p><strong>作者:卢嘉威</strong></p>
	  					<p><strong>内容:这些是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</strong></p>
	  					<p class="ui-li-aside"><strong>未分享</strong></p>
	  				</a>
	  			</li>
	  		</ul>
	  		<ul data-role="listview" data-inset="true" data-split-icon="action">
	  			<li>
	  				<a href="#positionWindow" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="window">
	  					<h2>标题:这是标题啊</h2>
	  					<p>时间:2014-10-25</p>
	  					<p><strong>作者:陈家杰</strong></p>
	  					<p><strong>内容:这些是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</strong></p>
	  					<p class="ui-li-aside"><strong>未分享</strong></p>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>
	  	
	  	<div data-role="collapsible" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	  		<h3>陈建坤</h3>
	  		<ul data-role="listview" data-inset="true" data-split-icon="action">
	  			<li>
	  				<a href="#positionWindow" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="window">
	  					<h2>标题:这是日报标题</h2>
	  					<p>时间:2014-11-25</p>
	  					<p><strong>作者:卢嘉威</strong></p>
	  					<p><strong>内容:这些是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</strong></p>
	  					<p class="ui-li-aside"><strong>未分享</strong></p>
	  				</a>
	  			</li>
	  		</ul>
	  		<ul data-role="listview" data-inset="true" data-split-icon="action">
	  			<li>
	  				<a href="#positionWindow" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="window">
	  					<h2>标题:这是日报标题啊</h2>
	  					<p>时间:2014-10-25</p>
	  					<p><strong>作者:陈家杰</strong></p>
	  					<p><strong>内容:这些是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</strong></p>
	  					<p class="ui-li-aside"><strong>未分享</strong></p>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>
	  	
	  	<div data-role="collapsible" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
	  		<h3>陈家杰</h3>
	  		<ul data-role="listview" data-inset="true" data-split-icon="action">
	  			<li>
	  				<a href="#positionWindow" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="window">
	  					<h2>标题:这是汇报标题</h2>
	  					<p>时间:2014-11-25</p>
	  					<p><strong>作者:卢嘉威</strong></p>
	  					<p><strong>内容:这些是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</strong></p>
	  					<p class="ui-li-aside"><strong>未分享</strong></p>
	  				</a>
	  			</li>
	  		</ul>
	  		<ul data-role="listview" data-inset="true" data-split-icon="action">
	  			<li>
	  				<a href="#positionWindow" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="popup" data-position-to="window">
	  					<h2>标题:这是汇报标题啊</h2>
	  					<p>时间:2014-10-25</p>
	  					<p><strong>作者:陈家杰</strong></p>
	  					<p><strong>内容:这些是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</strong></p>
	  					<p class="ui-li-aside"><strong>未分享</strong></p>
	  				</a>
	  			</li>
	  		</ul>
	  	</div>
  	</div>
  	
  	<div data-role="popup" id="positionWindow" class="ui-content" data-theme="a" style="width: 80%;margin: 0 auto;">
  		<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
  		<h3>标题:标题标题标题标</h3>
  		<p><strong>作者:卢嘉威 &nbsp; 提交时间:2014-10-10</strong></p>
  		<p style="text-indent: 2em;font-family: '微软雅黑'">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
	</div>
  	
  </body>
</html>
