<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: <#if day.dayId??>编辑<#else>新建</#if>日排班</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit">
			<div id="form" class="clearfix" style="width: 420px;">
				<form action="add" method="post">
					<input type="hidden" name="token" value="${token}">
					<input type="hidden" name="dayId" value="${day.dayId}">
					<table class="table">
						<tr>
							<td>日排班名称：</td>
							<td class="required">*</td>
							<td>
								<input type="text" class="input xl" name="workName" value="${day.workName}">
							</td>
						</tr>
						<tr>
							<td>打卡时间：</td>
							<td class="required">*</td>
							<td>
								<#if day.checkIn?? && day.checkIn?length == 5>
									<#assign checkIn_HH = day.checkIn?substring(0,2) />
									<#assign checkIn_mm = day.checkIn?substring(3,5) />
								</#if>
								<@fm.time arr=["checkIn_HH", "checkIn_mm"] hour=checkIn_HH?default("") minute=checkIn_mm?default("") />
								<span>至</span>
								<#if day.checkOut?? && day.checkOut?length == 5>
									<#assign checkOut_HH = day.checkOut?substring(0,2) />
									<#assign checkOut_mm = day.checkOut?substring(3,5) />
								</#if>
								<@fm.time arr=["checkOut_HH", "checkOut_mm"] hour=checkOut_HH?default("") minute=checkOut_mm?default("") />
							</td>
						</tr>
						<tr>
							<td>午休时间：</td>
							<td class="required">*</td>
							<td>
								<#if day.restIn?? && day.restIn?length == 5>
									<#assign restIn_HH = day.restIn?substring(0,2) />
									<#assign restIn_mm = day.restIn?substring(3,5) />
								</#if>
								<@fm.time arr=["restIn_HH", "restIn_mm"] hour=restIn_HH?default("") minute=restIn_mm?default("") />
								<span>至</span>
								<#if day.restOut?? && day.restOut?length == 5>
									<#assign restOut_HH = day.restOut?substring(0,2) />
									<#assign restOut_mm = day.restOut?substring(3,5) />
								</#if>
								<@fm.time arr=["restOut_HH", "restOut_mm"] hour=restOut_HH?default("") minute=restOut_mm?default("") />
							</td>
						</tr>
						<tr>
							<td class="pos">公司绑定：</td>
							<td class="pos required"></td>
							<td>
								<textarea class="xl" id="corpNames" rows="4" readonly="readonly">${day.corpNames}</textarea>
								<input type="hidden" name="corpIds" value="${day.corpIds}">
							</td>
						</tr>
						<tr>
							<td>状态：</td>
							<td class="required">*</td>
							<td>
								<input type="hidden" name="status" value="${day.status?default(1)}" />
								<div id="status" class="select xl">
									<span class="option text">启用</span><span class="icon"></span>
									<ul>
										<li item="0">禁用</li>
										<li item="1">启用</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td><button type="submit" class="btn primary xs">提交</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	
	<div id="corp_pop" class="pop bind" style="display: none; width: 318px;">
		<div class="pop_content" style="padding: 0;">
			<div class="auto_height sm">
		   		<ul class="checked">
		   		<#assign arr = day.corpIds?default("")?split(",") />
				<#list corps as e>
					<#assign checked = arr?seq_contains(e.orgId?html)?string("checked='checked'", "") />
					<li><input type="checkbox" name="checkedIds" value="${e.orgId}" title="${e.orgName}" ${checked}><span>${e.orgName}</span></li>
		   		</#list>		   		
		   		</ul>
			</div>
		</div>
		<div class="pop_btn">
			<input type="checkbox" id="checkedIds">
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			// 打卡时间
			$("#checkIn_HH").select({ "name": "checkIn_HH" });
			$("#checkIn_mm").select({ "name": "checkIn_mm" });
			$("#checkOut_HH").select({ "name": "checkOut_HH" });
			$("#checkOut_mm").select({ "name": "checkOut_mm" });
			// 午休时间
			$("#restIn_HH").select({ "name": "restIn_HH" });
			$("#restIn_mm").select({ "name": "restIn_mm" });
			$("#restOut_HH").select({ "name": "restOut_HH" });
			$("#restOut_mm").select({ "name": "restOut_mm" });
			
			$("#status").select({ "name": "status" });
			
			$("#corpNames").click(function() {
 				open_pop(null,"#corpNames","#corp_pop",false);
 				return false;
 			});
			$("#checkedIds").click(function() { checkedIds(); });
			$("input[name=checkedIds]").click(function() {
				checkedIds();
			});
			
			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",
				beforeSubmit: function(formData, jqForm, options) {
					danger(0);
					disabled_on();
					var form = jqForm[0];
					try {
						validate(form.workName, [RQ, RANGE, "{1,20}"], "日排班名称");

						validate(form.checkIn_HH, [RQ, RANGE, "{2,2}"], "打卡时间");
						validate(form.checkIn_mm, [RQ, RANGE, "{2,2}"], "打卡时间");
						validate(form.checkOut_HH, [RQ, RANGE, "{2,2}"], "打卡时间");
						validate(form.checkOut_mm, [RQ, RANGE, "{2,2}"], "打卡时间");

						validate(form.restIn_HH, [RQ, RANGE, "{2,2}"], "午休时间");
						validate(form.restIn_mm, [RQ, RANGE, "{2,2}"], "午休时间");
						validate(form.restOut_HH, [RQ, RANGE, "{2,2}"], "午休时间");
						validate(form.restOut_mm, [RQ, RANGE, "{2,2}"], "午休时间");
					} catch(err) {
						danger(1, err);
						disabled_off();
						return false;
					}
				},
				success: function(data) {
					if (data.code == 1) {
 						success_callback(data, "page");
					} else {
						danger_callback(data);
					}
				}
			});
		});
		function checkedIds() {
			var ids = "";
			var names = "";
			$("input[name='checkedIds']").each(function() {
				if ($(this).prop("checked") == true) {
					ids += $(this).val() + ",";
					names += $(this).attr("title") + ",";
				}
			});
			$("input[name=corpIds]").val(ids);
			$("#corpNames").val(names);
		}
	</script>
</body>
</html>
