<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: <#if month.monthId??>编辑<#else>新建</#if>月排班</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit">
			<div id="form" class="clearfix" style="width: 480px;">
				<form action="add" method="post">
					<input type="hidden" name="token" value="${token}">
					<input type="hidden" name="monthId" value="${month.monthId}">
					<input type="hidden" name="orgOrgId" value="${month.orgId}">
					<input type="hidden" name="orgYear" value="${month.year}">
					<input type="hidden" name="orgMonth" value="${month.month}">
					<table class="table">
						<tr>
							<td>月排班名称：</td>
							<td class="required">*</td>
							<td>
								<input type="text" class="input xl" name="workName" value="${month.workName}">
							</td>
						</tr>
						<tr>
							<td>年月份：</td>
							<td class="required">*</td>
							<td>
								<@fm.year name="year" year=month.year?default("") arr=(mb.years-3)..(mb.years+1) />
								<span>年</span>
								<@fm.month name="month" month=month.month?default("") />
								<span>月</span>						
							</td>
						</tr>
						<tr>
							<td class="pos">工作日：</td>
							<td class="pos required">*</td>
							<td>
								<textarea class="xl" id="workDays" rows="3" readonly="readonly">${month.workDays}</textarea>
								<input type="hidden" name="workDays" value="${month.workDays}">
							</td>
						</tr>
						<tr>
							<td class="pos">法定节假日：</td>
							<td class="pos required">*</td>
							<td>
								<textarea class="xl" id="holidays" rows="3" readonly="readonly">${month.holidays}</textarea>
								<input type="hidden" name="holidays" value="${month.holidays}">
							</td>
						</tr>
						<tr>
							<td>公司绑定：</td>
							<td class="required"></td>
							<td>
								<input type="hidden" name="orgId" value="${month.orgId}" />
								<div id="orgId" class="select xl">
									<span class="option text">请选择</span><span class="icon"></span>
									<ul>
										<#list corps as e>
										<li item="${e.orgId}">${e.orgName}</li>
										</#list>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>选择班次：</td>
							<td class="required"></td>
							<td>
								<input type="hidden" name="shiftClassId" value="${month.shiftClassId}" />
								<div id="shiftClassId" class="select xl">
									<span class="option text">请选择</span><span class="icon"></span>
									<ul>
										<#list shiftClasses as e>
										<li item="${e.classId}">${e.className}</li>
										</#list>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>状态：</td>
							<td class="required">*</td>
							<td>
								<input type="hidden" name="status" value="${month.status?default(1)}" />
								<div id="status" class="select xl">
									<span class="option text">启用</span><span class="icon"></span>
									<ul>
										<li item="0">禁用</li>
										<li item="1">启用</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td><button type="submit" class="btn primary xs">提交</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	
	<div id="month_pop" class="pop bind" style="display: none; width: 278px;">
		<div class="pop_content" style="padding: 0;">
			<div class="auto_height xl">
		   		<table class="table">
		   		</table>
			</div>
		</div>
		<div class="pop_btn">
			<input type="checkbox" id="checkedIds">
		</div>
	</div>
	
	<div id="holiday_pop" class="pop bind" style="display: none; width: 278px;">
		<div class="pop_content" style="padding: 0;">
			<div class="auto_height xl">
		   		<table class="table">
		   		</table>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#year").select({ "name": "year" });
			$("#month").select({ "name": "month" });
			$("#orgId").select({ "name": "orgId" });
			$("#shiftClassId").select({ "name": "shiftClassId" });
			$("#status").select({ "name": "status" });

			days();
			holidaydays();
			
			$("#holidays").click(function() {
				open_pop(null,"#holidays","#holiday_pop",false);
 				return false;
 			});
 			$("#workDays").click(function() {
				open_pop(null,"#workDays","#month_pop",false);
 				return false;
 			});
			$("#checkedIds").click(function() { checkedIds(); });
			
			$("#year").click(function() { close_pop(); });
			$("#month").click(function() { close_pop(); });
			$("#year.select li").click(function() { days(); holidaydays(); });
			$("#month.select li").click(function() { days(); holidaydays(); });
			
			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",
				beforeSubmit: function(formData, jqForm, options) {
					danger(0);
					disabled_on();
					var form = jqForm[0];
					try {
						validate(form.workName, [RQ, RANGE, "{1,20}"], "月排班名称");
						validate(form.year, [RQ], "月排班年份");
						validate(form.month, [RQ], "月排班月份");
					} catch(err) {
						danger(1, err);
						disabled_off();
						return false;
					}
				},
				success: function(data) {
					if (data.code == 1) {
 						success_callback(data, "page");
					} else {
						danger_callback(data);
					}
				}
			});
		});
		
		function days() {
			var arr = $("input[name=workDays]").val().split(",");
			var year = $("input[name=year]").val();
			var month = $("input[name=month]").val();
			if (year == "" || month == "") {
				$("#month_pop .table").empty();
				return;
			}
			$.ajax({
				url: "days?year=" + year + "&month=" + month + "&token=${token}",
				type: "post",
				dataType: "json",
				success: function(data) {
					if (data.code == 1) {
						$("#month_pop .table").empty();
						var text = "";
						text += "<tr>";
						text += "<th>一</th><th>二</th><th>三</th><th>四</th><th>五</th><th>六</th><th>日</th>";
						text += "</tr>";
						text += "<tr>";
						$.each(data.days, function(idx, obj) {
							text += "<td>";
							if (obj != "0") {
								var checked = "";
								if (arr.indexOf(obj) > -1) checked = "checked=\"checked\"";
								text += "<input type=\"checkbox\" name=\"checkedIds\" value=\"" + obj + "\" title=\"" + obj + "\" " + checked + " onclick=\"checkedIds()\">" + obj;
							}
							text += "</td>";
							if ((idx + 1) % 7 == 0) text += "</tr><tr>";
						});
						text += "</tr>";
						text = text.replace("<tr></tr>", "");
						$("#month_pop .table").append(text);
					} else {
						danger(1, data.message);
					}
				}
			});
		}
		
		function holidaydays() {
			var arr = $("input[name=holidays]").val().split(",");
			var year = $("input[name=year]").val();
			var month = $("input[name=month]").val();
			if (year == "" || month == "") {
				$("#holiday_pop .table").empty();
				return;
			}
			$.ajax({
				url: "days?year=" + year + "&month=" + month + "&token=${token}",
				type: "post",
				dataType: "json",
				success: function(data) {
					if (data.code == 1) {
						$("#holiday_pop .table").empty();
						var text = "";
						text += "<tr>";
						text += "<th>一</th><th>二</th><th>三</th><th>四</th><th>五</th><th>六</th><th>日</th>";
						text += "</tr>";
						text += "<tr>";
						$.each(data.days, function(idx, obj) {
							text += "<td>";
							if (obj != "0") {
								var checked = "";
								if (arr.indexOf(obj) > -1) checked = "checked=\"checked\"";
								text += "<input type=\"checkbox\" name=\"holidays_checkedIds\" value=\"" + obj + "\" title=\"" + obj + "\" " + checked + " onclick=\"holidays_checkedIds()\">" + obj;
							}
							text += "</td>";
							if ((idx + 1) % 7 == 0) text += "</tr><tr>";
						});
						text += "</tr>";
						text = text.replace("<tr></tr>", "");
						$("#holiday_pop .table").append(text);
					} else {
						danger(1, data.message);
					}
				}
			});
		}
		
		function checkedIds() {
			var ids = "";
			var names = "";
			$("input[name='checkedIds']").each(function() {
				if ($(this).prop("checked") == true) {
					ids += $(this).val() + ",";
					names += $(this).attr("title") + ",";
				}
			});
			$("input[name=workDays]").val(ids);
			$("#workDays").val(names);
		}
		function holidays_checkedIds() {
			var ids = "";
			var names = "";
			$("input[name='holidays_checkedIds']").each(function() {
				if ($(this).prop("checked") == true) {
					ids += $(this).val() + ",";
					names += $(this).attr("title") + ",";
				}
			});
			$("input[name=holidays]").val(ids);
			$("#holidays").val(names);
		}
	</script>
</body>
</html>
