<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 考勤阈值查询</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header">
		<div id="components" class="clearfix">
			<div id="left" class="left">
				<a href="add"><span class="icons icon_add"></span><span class="icons_text">新建</span></a>
				<span class="split">|</span>
				<a href="javascript:open_able(null, '1')"><span class="icons icon_unlock"></span><span class="icons_text">启用</span></a>
				<span class="split">|</span>
				<a href="javascript:open_able(null, '0')"><span class="icons icon_lock"></span><span class="icons_text">禁用</span></a>
			</div>
		</div>
		<div class="message"></div>
	</div>
	
	<div id="wrapper" class="clearfix">
		<div class="content">
			<div class="table_head">
				<table class="table">
					<thead>
						<tr>
							<th width="40"><input type="checkbox" id="checkedIds"></th>
							<th width="20%">公司绑定</th>
							<th width="10%">分钟阈值</th>
							<th width="20%">少于阈值迟到/早退次数</th>
							<th width="20%">少于阈值每次扣除金额</th>
							<th width="10%">病假天数</th>
							<th width="8%">状态</th>
							<th width="">操作</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table_body auto_height">
				<table class="table">
					<tbody>
						<#if page.result?size gt 0>
							<#list page.result as e>
						<tr>
							<td width="26"><input type="checkbox" name="checkedIds" value="${e.orgId}"></td>
							<td width="20%">${e.corpName}</td>
							<td width="10%">${e.overMinute}</td>
							<td width="20%">${e.overTimes}</td>
							<td width="20%">${views.rmb(e.deductionPerOverTime)}</td>
							<td width="10%">${e.sickDays}</td>
							<td width="8%"><#if e.status == 1>启用<#else>禁用</#if></td>
							<td>
								<a href="add?orgId=${e.orgId}" title="编辑"><span class="icons icon_edit"></span></a>
								<#assign able = 1 />
								<#assign title = "启用" />
								<#assign check= "icon_unlock" />
								<#if e.status == 1>
									<#assign able = 0 />
									<#assign title = "禁用" />
									<#assign check = "icon_lock" />
								</#if>
								<a href="javascript:open_able('${e.orgId}', '${able}');" title="${title}"><span class="icons ${check}"></span></a>
							</td>
						</tr>
							</#list>
						</#if>
					</tbody>
				</table>
			</div>
			<#if page.result?size lt 1>
			<div class="empty">没有数据</div>
			</#if>
			<@fm.page page=page />
		</div>
	</div>
	
	<div id="able_authority" class="pop" style="display: none; width: 280px;">
		<div class="pop_close">X</div>
		<div class="pop_limit">
			<div class="pop_title">启用阈值</div>
			<div class="pop_content blank">确定要启用所选阈值吗？</div>
			<div class="pop_btn ">
				<input type="hidden" id="status" value="1" />
				<button type="button" class="btn primary xs" onclick="able()">确定</button>
				<button type="button" class="btn default xs" onclick="close_pop()">取消</button>
			</div>
		</div>				
	</div>
	
	<script type="text/javascript">
		function open_able(id, status) {
			if (id) {
				get_checked(id);
			}
			var before = status == 1 ? "禁用" : "启用";
			var after = status == 1 ? "启用" : "禁用";
			$(".pop_title").text($(".pop_title").text().replace(before, after));
			$(".pop_content").text($(".pop_content").text().replace(before, after));
			$("#status").val(status);
			open_pop(null,null,"#able_authority",true);
		}
		function able() {
			var status = $("#status").val();
			ajax_checked("请选择需要" + (status == 1 ? "启用" : "禁用") + "的阈值", "able?&status=" + status + "&token=${token}");
			close_pop();
		}
	</script>
</body>
</html>
