<!DOCTYPE html>
<html>
<head>
	<title>我的相册</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<link rel="stylesheet" type="text/css" href="/jw_js_css_img/swipebox/src/css/swipebox.min.css" />
	<link rel="stylesheet" type="text/css" href="/jw_js_css_img/css/album.css" />
	<script type="text/javascript" src="/jw_js_css_img/swipebox/lib/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/jw_js_css_img/swipebox/src/js/jquery.swipebox.min.js"></script>
	<script type="text/javascript" src="/jw_js_css_img/js/jqthumb.min.js"></script>
	<script type="text/javascript" src="/jw_js_css_img/layer.m/layer.m.js"></script>
	<script type="text/javascript" src="/jw_js_css_img/js/album.js"></script>
</head>
<body>
	<div class="titleDiv">
		<span class="titleSpan">${title}</span>
		<div style="float: left;" class="managerPhoto">管理照片</div>
		<div class="addPictDiv">
			上传照片
		</div>
		<input type="hidden" name="albumId" value="${albumId}" />
	</div>
	
	<input type="hidden" id="imgId" />

	<div class="imgDiv">
		<ul>
			<#if listImg?size gt 0>
				<#list listImg as l>
					<li>
						<input type="checkbox" class="checkPic" value="${l.id}" />
						<a href="${l.imgUrl}" class="swipebox" title="${l.imgName}">
							<img src="${l.imgUrl}" width="300" height="300" />
						</a>
					</li>
				</#list>
			</#if>
			<li class="trashLi">
				<img src="/jw_js_css_img/img/trash.png" width="100%" height="300" class="trash" />
			</li>
		</ul>
	</div>
</body>
</html>
