<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 字典查询</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header">
		<div id="components" class="clearfix">
			<div id="left" class="left">
				<a href="${ctx}/system/conf/dict/add"><span class="icons icon_add"></span><span class="icons_text">新建</span></a>
			</div>
		</div>
		<div class="message"></div>
	</div>
	
	<div id="wrapper" class="clearfix">
		<div class="content">
			<div class="table_head">
				<table class="table">
					<thead>
						<tr>
							<th width="80">字典名称</th>
							<th width="20%">字典描述</th>
							<th width="50%">字典集合</th>
							<th width="">操作</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table_body auto_height">
				<table class="table">
					<tbody>
						<#if page.result?size gt 0>
							<#list page.result as e>
						<tr>
							<td width="66">${e.dictName}</td>
							<td width="20%">${e.dictDesc}</td>
							<#assign arr = e.dictValue?split(",") />
							<#assign names = "" />
							<#assign i = 0 />
							<#list arr as a>
								<#assign names = names + a />
								<#if a_has_next><#assign names = names + "," /></#if>
								<#if (i+1) % 5 == 0><#assign names = names + "\n" /></#if>
								<#assign i = i + 1 />
							</#list>
							<td width="50%" title="${names}"><div class="word_break">${e.dictValue}</div></td>
							<td>
								<a href="add?dictName=${e.dictName}" title="编辑"><span class="icons icon_edit"></span></a>
							</td>
						</tr>
							</#list>
						</#if>
					</tbody>
				</table>
			</div>
			<#if page.result?size lt 1>
			<div id="empty">没有数据</div>
			</#if>
			<@fm.page page=page />
		</div>
	</div>
	
	<div id="footer"></div>
	
	<script type="text/javascript">
		window.onload = window.onresize = function() {
			auto_width();
		}
	</script>
</body>
</html>
