<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: <#if dict.dictName??>编辑<#else>新建</#if>字典</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit">
			<div id="form" class="clearfix" style="width: 420px;">
				<form action="add" method="post">
					<input type="hidden" name="token" value="${token}">
					<table class="table">
						<tr>
							<td>字典名称：</td>
							<td class="required">*</td>
							<td>
								<input type="text" class="input xl" name="dictName" value="${dict.dictName}">
								<input type="hidden" name="orgDictName" value="${dict.dictName}">
							</td>
						</tr>
						<tr>
							<td>字典描述：</td>
							<td class="required">*</td>
							<td>
								<input type="text" class="input xl" name="dictDesc" value="${dict.dictDesc}">
							</td>
						</tr>
						<tr>
							<td class="pos">字典集合：</td>
							<td class="required pos">*</td>
							<td>
								<textarea class="xl" id="dictValue" rows="4">${dict.dictValue}</textarea>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td><button type="submit" class="btn primary xs">提交</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div id="footer"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",
				beforeSubmit: function(formData, jqForm, options) {
					danger(0);
					disabled_on();
					var form = jqForm[0];
					try {
						validate(form.dictName, [RQ, RANGE, "{1,20}"], "字典名称");
						validate(form.dictDesc, [RQ, RANGE, "{1,60}"], "字典描述");
						validate(form.dictValue, [RQ], "字典集合");
					} catch(err) {
						danger(1, err);
						disabled_off();
						return false;
					}
				},
				success: function(data) {
					if (data.code == 1) {
 						success_callback(data, "page");
					} else {
						danger_callback(data);
					}
				}
			});
		});
	</script>
</body>
</html>
