<?xml version="1.0" encoding="ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>OA</display-name>
	
	<filter>
		<filter-name>webContext</filter-name>
		<filter-class>cn.oa.web.filter.WebContext</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>webContext</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>dispatcher</filter-name>
		<filter-class>org.nutz.mvc.NutFilter</filter-class>
		<init-param>
			<param-name>modules</param-name>
			<param-value>cn.oa.MainModule</param-value>
		</init-param>
		<init-param>
			<param-name>suffix</param-name>
			<param-value>.html</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>dispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>403</error-code>
		<location>/views/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/views/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/views/404.html</location>
	</error-page>
</web-app>