<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: <#if fault.faultId??>编辑<#else>新建</#if>故障类型</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit">
			<div id="form" class="clearfix" style="width: 460px;">
				<form action="add" method="post">
					<input type="hidden" name="token" value="${token}">
					<input type="hidden" name="faultId" value="${fault.faultId}">
					<table class="table">
						<tr>
							<td>类型名称：</td>
							<td class="required">*</td>
							<td>
								<input type="text" class="input xl" name="faultName" value="${fault.faultName}">
							</td>
						</tr>
						<tr>
							<td>故障处理人：</td>
							<td class="required">*</td>
							<td>
								<input type="hidden" name="operatorId" value="${fault.operatorId}" />
								<div id="operatorId" class="select xl">
									<span class="option text">请选择</span><span class="icon"></span>
									<ul class="auto_height sm">
										<#list operators as e>
										<li item="${e.userId}">${e.trueName}</li>
										</#list>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>状态：</td>
							<td class="required">*</td>
							<td>
								<input type="hidden" name="status" value="${fault.status?default(1)}" />
								<div id="status" class="select xl">
									<span class="option text">启用</span><span class="icon"></span>
									<ul>
										<li item="0">禁用</li>
										<li item="1">启用</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td><button type="submit" class="btn primary xs">提交</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
  			$("#operatorId").select({ "name": "operatorId" });
  			$("#status").select({ "name": "status" });
			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",
				beforeSubmit: function(formData, jqForm, options) {
					danger(0);
					disabled_on();
					var form = jqForm[0];
					try {
						validate(form.faultName, [RQ], "类型名称");
						validate(form.operatorId, [RQ], "预算经理");
						validate(form.status, [RQ], "状态");
					} catch(err) {
						danger(1, err);
						disabled_off();
						return false;
					}
				},
				success: function(data) {
					if (data.code == 1) {
 						success_callback(data, "page");
					} else {
						danger_callback(data);
					}
				}
			});
		});
	</script>
</body>
</html>
