<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>排班</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
	<link type="text/css" rel="stylesheet" href="${ctx}/jw_js_css_img/css/personal_page.css">
	<script type="text/javascript" src="${ctx}/jw_js_css_img/js/personal_page.js"></script>
	<style type="text/css">
	.week li{border-top: 1px solid #b4d6da;}
	</style>
</head>
<body>
<!-- <div id="path"></div> -->
	<div id="header" class="blank">
		<div class="message"></div>
	</div>

	<div class="headDiv">		
		<h3 class="timeH3" title="${monthStr}">本月 ( <span class="startSpan" style="color:#3E74AE;">${startStr}<input type="hidden" id="startdate" value="${startStr}" /></span> 至 <span class="endSpan" style="color:#3E74AE;">${endStr}</span> ) 排班表</h3>
		<!-- <form id="search" action="page" method="get"> -->
		<div class="condition">
			<ul>
				<li><div style="padding-top:5px;padding-right:10px;cursor:hand;">
				<span style="padding:0px 5px 0px 5px">
				<img id="lweek" src="${ctx}/img/lweek.png" style="cursor:pointer;" title="上一个月" />
				</span>
				<span style="padding:0px 5px 0px 5px">
				<img id="rweek" src="${ctx}/img/rweek.png" style="cursor:pointer;" title="下一个月" />
				</span>
				</div>
				</li>	
				
				<li>
					<!-- <input value="${startStr}" class="input xl Wdate" style="width:100px;" type="text" id="startDate" onFocus="WdatePicker({disabledDays:[0,2,3,4,5,6],onpicked:function(dp){var startDate = new Date(dp.cal.getDateStr());startDate.setTime(startDate.getTime() + 24*60*60*1000*6);var startDateValue = startDate.getFullYear()+'-'+(startDate.getMonth()+1)+'-'+startDate.getDate();$('#endDate').val(startDateValue);}})"/> &nbsp;至&nbsp; 
					<input value="${endStr}" type="text" style="width:100px;" class="input xl Wdate" readonly="readonly"  id="endDate" name="end_yyyyMMdd" readonly="readonly"> -->
					<input value="${monthStr}" type="text" class="input xl Wdate" readonly="readonly" onclick="WdatePicker({onpicking:function(dp){search(dp);},dateFmt:'yyyy-MM'})" style="width: 95px;" placeholder="选择时间" id="startDate">
				</li>
				<li>
					<button type="button" class="searchSpan" id="search">刷新</button>
					<!-- <a href="page?startTime=2015-2-23">查询</a> -->
				<!-- </form> -->
				</li>
				<li>

				</li>
			</ul>
		</div>
		
	</div>
	
	<p class="companyTitle">${corp}(<#if shiftCorp??><span style="color:#3E74AE;">已启用<#else><span style="color:red;">未启用</#if></span>)</p>
	
	<div class="dateDiv">
		<ul class="week">
			<li class="1 weekl">星期日</li>
			<li class="2 weekl">星期一</li>
			<li class="3 weekl">星期二</li>
			<li class="4 weekl">星期三</li>
			<li class="5 weekl">星期四</li>
			<li class="6 weekl">星期五</li>
			<li class="7 weekl" style="border-right: none">星期六</li>
		</ul>
	</div>
	
	<div style="clear: both;"></div>
<!-- 	<form action="add" method="post" id="form"> -->
	<div class="schedul">	
	<#list weeks as w>

		<ul>
			<li class="workLi"  <#list shifts as s><#if s.sort == 7 && s.week == w> style="background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 7 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>
				
				</span>
			</li>
			
			<li class="workLi" <#list shifts as s><#if s.sort == 1 && s.week == w> style="background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 1 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>
				</span>
			</li>
			<li class="workLi" <#list shifts as s><#if s.sort == 2 && s.week == w> style="background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 2 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>
				</span>
			</li>
			<li class="workLi" <#list shifts as s><#if s.sort == 3 && s.week == w> style="background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 3 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>
				</span>
			</li>
			<li class="workLi" <#list shifts as s><#if s.sort == 4 && s.week == w> style="background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 4 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>
				</span>
			</li>
			<li class="workLi" <#list shifts as s><#if s.sort == 5 && s.week == w> style="background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 5 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>

				</span>
			</li>
			
			<li class="workLi" style="border-right: none;  <#list shifts as s><#if s.sort == 6 && s.week == w> background-color:${s.shiftClass.color};" </#if></#list>>
				<span class="msgSpan">
				<#list weekDays as wd>
					<#if wd.sunday == 6 && wd.week == w>
						<strong><#if wd.holiday??>${wd.holiday}<#else>${wd.day}</#if></strong>
					</#if>	
				</#list>
				</span>
			</li>
			
		</ul>
		
		<div style="clear: both;"></div>

</#list>
	</div>
	
	<div style="clear: both;"></div>
	
	<p class="companyTitle" style="margin-top: 20px;">班次列表</p>
	<div class="personalpage">
		<ul class="workListUl">
			<li>班次配色</li>
			<li>起止时间</li>
			<li>总时间(小时)</li>
		</ul>

		<#list sclasses as sc>

					<ul>
						<li><div style="width:161px;height:36px;margin:auto;background-color:${sc.color}">${sc.className}</div></li>
						<li>${sc.firstMorning}~${sc.firstNight}
							<#if sc.second == 1>&nbsp;,&nbsp;
								${sc.secondMorning}~${sc.secondNight}
							</#if></li>
						<li>
							${sc.sumTime}
						</li>
					</ul>

			
		</#list>
	</div>
	
	<div id="del_apply" class="pop" style="display: none; width: 280px;">
		<div class="pop_close">X</div>
		<div class="pop_limit">
			<div class="pop_title">日期不能为空</div>
			<div class="pop_content blank">日期不能为空</div>
			<div class="pop_btn ">
				<button type="button" class="btn primary xs" onclick="close_pop()">取消</button>
			</div>
		</div>				
	</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#lweek").click(function(){
			var startTime = $(".timeH3").attr("title");		
			var url = "personalpage?startTime="+startTime+"&shortcut=0";
			location.href=url;
		});
		$("#rweek").click(function(){
			var startTime = $(".timeH3").attr("title");	
			var url = "personalpage?startTime="+startTime+"&shortcut=1";
			location.href=url;
		});
		
		$("#search").click(function(){
			var startTime = $("#startDate").val();		
			var url = "personalpage?startTime="+startTime;
			window.location.href=url;
			
		});
	
		search = function(dp){
			var startTime = dp.cal.getNewDateStr();		
			var url = "personalpage?startTime="+startTime;
			window.location.href=url;
		};
	
	});

</script>
</body>
</html>
