<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 修改密码</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header" class="blank">
		<div class="message"></div>
	</div>
	<div id="wrapper" class="clearfix">
		<div class="edit auto_height lg">
			<div id="form" class="clearfix" style="width: 420px;">
				<form action="add" method="post">
					<input type="hidden" name="token" value="${token}">
					<input type="hidden" name="userId" value="${user.userId}">
					<table class="table">
						<tr>
							<td>用户名：</td>
							<td class="required"></td>
							<td>
								<input type="text" class="input xl" value="${user.username}" readonly="readonly">
							</td>
						</tr>
						<tr>
							<td>旧密码：</td>
							<td class="required">*</td>
							<td>
								<input type="password" class="input xl" name="oldPassword" value="">
							</td>
						</tr>
						<tr>
							<td>新密码：</td>
							<td class="required">*</td>
							<td>
								<input type="password" class="input xl" name="password" value="">
							</td>
						</tr>
						<tr>
							<td>重复密码：</td>
							<td class="required">*</td>
							<td>
								<input type="password" class="input xl" name="passwordConfirm" value="">
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td><button type="submit" class="btn primary xs">提交</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div id="footer"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("form").ajaxForm({
				url: "add",
				type: "post",
				resetForm: false,
				dataType: "json",
				beforeSubmit: function(formData, jqForm, options) {
					danger(0);
					disabled_on();
					var form = jqForm[0];
					try {
						validate(form.oldPassword, [RQ, RANGE, "{1,32}"], "旧密码");
						validate(form.password, [RQ, RANGE, "{1,32}"], "新密码");
						validate(form.passwordConfirm, [RQ, RANGE, "{1,32}"], "重复密码");
					} catch(err) {
						danger(1, err);
						disabled_off();
						return false;
					}
				},
				success: function(data) {
					if (data.code == 1) {
						success_callback(data, "add");
					} else {
						danger_callback(data);
					}
				}
			});
		});
	</script>
</body>
</html>
