<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<#include "/views/meta.html" />
	<title>${pageTitle} :: 年假查询</title>
	<#include "/views/css.html" />
	<#include "/views/js.html" />
</head>
<body>
	<div id="path"></div>
	<div id="header">
		<div id="components" class="clearfix">
			<div id="right" class="right">
				<form id="search" action="page" method="get">
					<input type="hidden" name="pageSize" value="${page.pageSize}">
					<input type="hidden" name="pageNo" value="${page.pageNo}">
					<ul>
						<li class="text">时间</li>
						<li>
							<input type="text" class="input sm Wdate" name="startTime" value="${mb.startTime}" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
							<span>至</span>
							<input type="text" class="input sm Wdate" name="endTime" value="${mb.endTime?default('')}" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
						</li>
						<li><button type="button" class="btn primary xxs" onclick="search()">搜索</button></li>
					</ul>
				</form>
			</div>
		</div>
		<div class="message"></div>
	</div>
	
	<div id="wrapper" class="clearfix">
		<div class="content" style="margin-bottom: 12px;">
			<table class="table">
				<thead>
					<tr>
						<th class="">开始时间</th>
						<th class="">结束时间</th>
						<th class="">剩余年假天数/总天数</th>
						<th class="">状态</th>
					</tr>
				</thead>
				<tbody>
					<#if annuals?size gt 0>
						<#list annuals as e>
						<#assign blank = "border-bottom: 0;" /><#if e_has_next><#assign blank = "" /></#if>
					<tr>
						<td style="${blank}"><#if e.startDate??>${e.startDate?date}</#if></td>
						<td style="${blank}"><#if e.endDate??>${e.endDate?date}</#if></td>
						<td style="${blank}">${views.day(e.lastMinute, e.workMinute)?string("0.#")}&nbsp;天&nbsp;/&nbsp;${views.day(e.sumMinute, e.workMinute)?string("0.#")}&nbsp;天</td>
						<td style="${blank}"><#if e.status == 1>有效<#else>无效</#if></td>
					</tr>
						</#list>
					</#if>
				</tbody>
			</table>
			<#if annuals?size lt 1>
			<div class="empty" style="border-bottom: 0;">没有数据</div>
			</#if>
		</div>
		<div class="content">
			<div class="table_head">
				<table class="table">
					<thead>
						<tr>
							<th width="80">请假类型</th>
							<th width="15%">开始时间</th>
							<th width="15%">结束时间</th>
							<th width="25%">请假原因</th>
							<th width="15%">申请时间</th>
							<th width="10%">上级审批</th>
							<th width="">审批状态</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table_body auto_height sm">
				<table class="table">
					<tbody>
						<#if page.result?size gt 0>
							<#list page.result as e>
						<tr>
							<td width="66">${leaveMap[e.typeId?string]}</td>
							<td width="15%"><#if e.startTime??>${e.startTime?datetime}</#if></td>
							<td width="15%"><#if e.endTime??>${e.endTime?datetime}</#if></td>
							<td width="25%">${e.reason}</td>
							<td width="15%"><#if e.createTime??>${e.createTime?datetime}</#if></td>
							<td width="10%">${e.operator}</td>
							<td width="">${views.approve(e.approve)}</td>
						</tr>
							</#list>
						</#if>
					</tbody>
				</table>
			</div>
			<#if page.result?size lt 1>
			<div class="empty">没有数据</div>
			</#if>
			<@fm.page page=page />
		</div>
	</div>
	
	<div id="footer"></div>
		
	<script type="text/javascript">
		window.onload = window.onresize = function() {
			var width = $(".table_body table").width();
			$(".table_head table").css("width", width + "px");
		}
	</script>
</body>
</html>
